/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-sizing: 62.5%;
}
body {
  background: #D8BFD8;
  max-width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  border: 4px solid black;
  font-family: 'Raleway', sans-serif;
}
@media (max-width: 500px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
}
header {
  border-bottom: 1px solid black;
  margin: 2% 1% 5% 0;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header h1 {
  font-size: 3rem;
  margin-right: -10%;
  margin-left: 6%;
}
@media (max-width: 500px) {
  header h1 {
    margin-bottom: 3%;
    text-align: center;
    margin-right: -2%;
    margin-left: 2%;
  }
}
header nav {
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px 2%;
  font-size: 1.4rem;
}
@media (max-width: 500px) {
  header nav {
    margin-left: 0;
    width: 100%;
  }
}
header nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #5f5d5d;
}
header nav .first-anchor {
  margin-left: 0;
}
.top-content {
  display: flex;
  background-color: #DCDCDC;
  justify-content: space-evenly;
  margin-top: -5%;
}
@media (max-width: 500px) {
  .top-content {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.top-content img {
  max-width: 60%;
  height: auto;
  margin-left: 10%;
  box-shadow: 5px 5px 5px #888;
}
@media (max-width: 500px) {
  .top-content img {
    max-width: 90%;
    margin-left: 5%;
  }
}
.top-content .about-container {
  width: 100%;
  margin-right: 5%;
  text-align: left;
  background: #B0E0E6;
  box-shadow: 5px 5px 5px #888;
}
@media (max-width: 500px) {
  .top-content .about-container {
    max-width: 100%;
    margin-right: 0;
    text-align: center;
  }
}
.top-content .about-container h2 {
  font-size: 2rem;
  text-align: center;
  padding-top: 4.5%;
}
.top-content .about-container p {
  border: 5px groove #c4bcc4;
  width: 100%;
  font-size: 1.25rem;
  padding: 8%;
  margin-top: 5%;
  background: #B0E0E6;
}
.middle-content {
  display: flex;
  margin: 5%;
}
.middle-content .skills-table {
  text-align: center;
  margin: 1%;
  box-shadow: 0 0 5px #888;
}
@media (max-width: 500px) {
  .middle-content .skills-table {
    padding: 50%;
    margin: 8% 0 0 0;
  }
}
.middle-content .skills-table tr th {
  border: 1px solid black;
  padding: 1%;
}
.middle-content .skills-table tr td {
  border: 1px solid black;
  padding: 1%;
}
.middle-content .education-table {
  margin: 1%;
  text-align: center;
  box-shadow: 0 0 5px #888;
}
@media (max-width: 500px) {
  .middle-content .education-table {
    text-align: left;
    margin: 5%;
  }
}
.middle-content .education-table tr th {
  border: 1px solid black;
  padding: 1%;
}
@media (max-width: 500px) {
  .middle-content .education-table tr th {
    padding: 1%;
  }
}
.middle-content .education-table tr td {
  border: 1px solid black;
  padding: 1%;
}
@media (max-width: 500px) {
  .middle-content .education-table tr td {
    padding: 1%;
  }
}
.bottom-content .work-history {
  box-shadow: 0 0 5px #888;
  width: 100%;
  border: 1px solid black;
  margin: 5% 0 5% 0;
  text-align: center;
}
.bottom-content .work-history th {
  border: 1px solid black;
  padding: 1%;
}
.bottom-content .work-history td {
  border: 1px solid black;
  padding: 1%;
}
.bottom-content .more-about-container {
  width: 100%;
  background: #778899;
}
.bottom-content .more-about-container h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1%;
}
.bottom-content .more-about-container p {
  font-size: 1rem;
  text-align: center;
  padding: 1%;
}
.the-past {
  width: 100%;
  background: #778899;
}
.the-past .past-text-container h2 {
  font-size: 2rem;
  text-align: center;
  padding: 1%;
}
.the-past .past-text-container p {
  font-size: 1rem;
  text-align: center;
  padding: 1%;
}
footer {
  border-top: 1px solid black;
  margin-top: 5%;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
footer nav {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}
@media (max-width: 500px) {
  footer nav {
    margin-left: 0;
  }
}
footer nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #5f5d5d;
}
footer nav .first-bottom-anchor {
  margin-left: 0;
}
