/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  font-sizing: 62.5%;
}
body {
  background: #D8BFD8;
  max-width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  border: 4px solid #58208d;
  font-family: 'Raleway', sans-serif;
}
header {
  border-bottom: 1px solid black;
  margin: 2% 1% 5% 0.5%;
  padding: 2% 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header h1 {
  font-size: 2rem;
}
@media (max-width: 500px) {
  header h1 {
    margin-bottom: 20px;
  }
}
header nav {
  margin-left: -70%;
}
@media (max-width: 500px) {
  header nav {
    margin-left: 0;
  }
}
header nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #5f5d5d;
}
header nav .first-anchor {
  margin-left: 0;
}
.top-content {
  display: flex;
  padding-top: 5%;
  background-color: #DCDCDC;
}
.top-content .image-back {
  border: 1px solid green;
  margin-top: -5%;
  margin-right: -20%;
}
.top-content .image-back img {
  border: 4px dotted black;
  max-width: 50%;
  height: auto;
}
.top-content .text-container {
  width: 80%;
  margin-right: 15%;
}
.top-content h2 {
  font-size: 2rem;
}
.middle-content {
  display: flex;
  margin: 1%;
}
.middle-content .skills-table {
  margin: 1%;
}
.middle-content .skills-table tr th {
  border: 1px solid black;
  padding: 1%;
}
.middle-content .skills-table tr td {
  border: 1px solid black;
  padding: 1%;
}
.middle-content .education-table {
  margin: 1%;
}
.middle-content .education-table tr th {
  border: 1px solid black;
  padding: 1%;
}
.middle-content .education-table tr td {
  border: 1px solid black;
  padding: 1%;
}
.bottom-content .work-history {
  width: 100%;
  border: 1px solid black;
  margin: 5% 0.5% 5% 0.5%;
}
.bottom-content .work-history th {
  border: 1px solid black;
  padding: 1%;
}
.bottom-content .work-history td {
  border: 1px solid black;
  padding: 1%;
}
footer {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    align-items: center;
  }
}
footer nav {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  justify-items: center;
}
@media (max-width: 500px) {
  footer nav {
    margin-left: 0;
  }
}
footer nav a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #5f5d5d;
}
footer nav .first-bottom-anchor {
  margin-left: 0;
}
